<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>〇月×日の支出</title>
</head>
<body>
    <h1>〇月×日の支出</h1>
    <p>￥2,000</p>
    <div>
        <h2>内訳</h2>
        <div>
            <h3>￥800</h3>
            <p>
                ラーメン <br>
                #食費　#昼食　#うまい
            </p>
        </div>
        <div>
            <h3>￥500</h3>
            <p>
                弁当 <br>
                #食費　#夕食　#うまい
            </p>
        </div>
        <div>
            <h3>￥100</h3>
            <p>
                ジュース <br>
                #食費　#昼食　#飲料
            </p>
        </div>
        <div>
            <h3>￥600</h3>
            <p>
                牛丼 <br>
                #食費　#朝食　#松屋
            </p>
        </div>
    </div>
    <div>
        <h2>週間推移</h2>
        <p>グラフ挿入予定地</p>
        <br>
    </div>
    <div>
        <a href="regist.html">記帳する</a>
        <a href="home.html">Home</a>
    </div>
</body>
</html>