{# layout.twig #}
<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>家計簿 {% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>