{% extends 'layout.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <form action="">
        メールアドレス：<input type="text"><br>
        パスワード：<input type="password"><br>
        <button type="submit">ログイン</button>
<<<<<<< HEAD
        <a href="forget_pass.twig">パスワードを忘れてしまった場合</a><br>
        <a href="sign_up.twig">アカウント登録</a>
>>>>>>> 68aaf334ba54b41af2b4b8fe6417f38e4234eb17
    </form>
</body>
</html>
{% endblock %}
