{# setting.twig #}
{% extends 'layout.twig' %}

{% block body %}
<header>
    <a href="home.html">HOME</a>
    <a href="asset.html">総資産</a>
    <a href="income.html">総収入</a>
    <a href="spending.html">総支出</a>
    <a href="regist.html">記帳</a>
    <a href="tag_edit.html">タグ編集</a>
    <a href="setting.html">アカウント管理</a>
    <a href="logout.html">ログアウト</a>
</header>


<h1>設定</h1>
<h2>アカウント情報</h2>
<p>登録メールアドレス：abcabc@example.com</p>

<h2>アカウント編集</h2>
<form action="">
    <div>
        <h3>メールアドレスの変更</h3>
        <label for="mail">新しいメールアドレス</label>
        <input type="mail"> <br>
        <label for="pass">パスワード</label>
        <input type="password"> <br>
        <button type="submit">変更</button>
    </div>

    <div>
        <h3>パスワードの変更</h3>
        <label for="pass">現在のパスワード</label>
        <input type="text"> <br>
        <label for="pass">新しいパスワード</label>
        <input type="text"> <br>
        <label for="pass">確認用パスワード</label>
        <input type="text"> <br>
        <button type="submit">変更</button>
    </div>
</form>

<h2>データリセット</h2>
<p>総資産、タグに関するすべてのデータを削除します。</p>
<form action="">
    <label for="pass">パスワード</label>
    <input type="text"> <br>
    <button type="submit">削除</button>
</form>

<h2>アカウント削除</h2>
<p>登録されているメールアドレス、すべてのデータを削除します。</p>
<form action="">
    <label for="">パスワード</label>
    <input type="text"> <br>
    <button type="submit">削除</button>
</form>

<a href="home.html">Home</a>
{% endblock %}