<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>総支出</title>
</head>
<body>
    
    <header>
        <a href="home.html">HOME</a>
        <a href="asset.html">総資産</a>
        <a href="income.html">総収入</a>
        <a href="spending.html">総支出</a>
        <a href="regist.html">記帳</a>
        <a href="setting.html">アカウント管理</a>
        <a href="logout.html">ログアウト</a>
    </header>

    
    <h1>総支出</h1>
    <p>￥200,000</p>
    
    <h2>今月の支出</h2>
    <h3>￥20,000</h3>
    <a href="">＜＜ 前月</a>　　　<a href="">次月 ＞＞</a>
    <table>
        <tr>
            <td>〇月×日</td>
            <td>ラーメン</td>
            <td>￥500円</td>
            <td>#昼食</td>
        </tr>
        <tr>
            <td>〇月×日</td>
            <td>焼肉</td>
            <td>￥1500円</td>
            <td>#夕食 #うまい</td>
        </tr>
        <tr>
            <td>〇月×日</td>
            <td>光熱費</td>
            <td>￥18000円</td>
            <td>#高い</td>
        </tr>
    </table>
    
    <h2>グラフ挿入予定</h2>
    <ul>
        <li>月間推移</li>
        <li>タグごとに抜き出す</li>
        <li>その他もろもろ</li>
    </ul>
    
    <br>
    <a href="home.html">Home</a>
</body>
</html>